<div class="header">
  <h1>Lista de Pacientes</h1>
  <button class="btn btn-primary create-patient-button" (click)="onCreatePatient()">Crear Paciente</button>
</div>

<div *ngIf="loading" class="loading">
  <p>Cargando pacientes...</p>
</div>

<div *ngIf="!loading && patients.length === 0" class="no-data">
  <p>No se encontraron pacientes.</p>
</div>

<div *ngIf="!loading && patients.length > 0">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Teléfono</th>
      <th>Dirección</th>
      <th>Nivel Alerta</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients">
      <td>{{ patient.id }}</td>
      <td>{{ patient.nombre }}</td>
      <td>{{ patient.apellido }}</td>
      <td>{{ patient.edad }}</td>
      <td>{{ patient.telefono }}</td>
      <td>{{ patient.direccion }}</td>
      <td>{{ patient.alertaNivel }}</td>

    </tr>
    </tbody>
  </table>
</div>
